{% extends "layout.html" %}

{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Ian M's super dooper To-Do app-a-doodle.</p>
  </div>

  <form method="post" >
    <label>Task:
      <input name="task_title" type="text" required>
    </label>
    <button formaction="/add" >Add</button>
  </form>

  <form method="post" >
    <div class="row">
      <div class="col-md-12">

        <h2>To Do</h2>
          {% for item in to_do_list %}
            {% if item.status == "To Do" %}
            <form method="post">
            <input type="hidden" id="task_id" name="task_id" value={{item.id}}>
            <label for="task_id">{{item.status}} - {{item.name}}</label>
              <input type="submit" value="Complete" formaction="/complete">
              <input type="submit" value="Delete" formaction="/delete">
            {% endif %}
          </form>
          
          {% endfor %}

          <h2>Completed</h2>
          {% for item in to_do_list %}
            {% if item.status != "To Do" %}
            <form method="post">
            <input type="hidden" id="task_id" name="task_id" value={{item.id}}>
            <label for="task_id">{{item.status}} - {{item.name}}</label>
              <input type="submit" value="Restore" formaction="/restore">
              <input type="submit" value="Delete" formaction="/delete">
            {% endif %}
          </form>
          {% endfor %}
      </div>
   </div>
  </form>
{% endblock %}
