{% extends "layout.html" %}

{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Ian M's super dooper To-Do app-a-doodle.</p>
  </div>

  <form method="post" >
    <li class="list-group-item  bg-light d-flex">
      <h2 class="p-0 m-2 flex-grow-1 ">Add</p> 
    </li>
      <ul class="list-group"> 
        <li class="list-group-item  bg-light d-flex">
          <button class="btn btn-default" type="submit" formaction="/add">
            <i class="glyphicon glyphicon-save"></i></button>
          <input name="task_title" type="text" class="form-control" required>
        </li>
      </ul>
  </form>


  <ul class="list-group"> 
    <li class="list-group-item  bg-danger text-white d-flex">
      <h2 class="p-0 m-2 flex-grow-1 ">To Do</p> 
    </li>
    {% for item in view_model.to_do_items %}
      <form method="post" >
        <li class="list-group-item  bg-danger text-white d-flex">
          <button type="submit" formaction="/start" class="btn btn-default btn-sm">
            <span class="glyphicon glyphicon-ok"></span>
          </button>
          <input type="hidden" id="task_id" name="task_id" value={{item.id}}>
          <h3 class="p-0 m-2 flex-grow-1 ">{{item.name}}</h3> 
          <button type="submit" formaction="/delete" class="btn btn-default btn-sm">
            <span class="glyphicon glyphicon-trash"></span>
          </button>
        </li>
      </form>
    {% endfor %}
  </ul>
  <ul class="list-group"> 
    <li class="list-group-item  bg-warning text-white d-flex">
      <h2 class="p-0 m-2 flex-grow-1 ">Doing</p> 
    </li>
    {% for item in view_model.doing_items %}
      <form method="post" >
        <li class="list-group-item  bg-warning text-white d-flex">
          <input type="hidden" id="task_id" name="task_id" value={{item.id}}>
          <button type="submit" formaction="/complete" class="btn btn-default btn-sm">
            <span class="glyphicon glyphicon-ok"></span>
          </button>
          <h3 class="p-0 m-2 flex-grow-1 ">{{item['name']}}</h3> 
          <button type="submit" formaction="/restore" class="btn btn-default btn-sm">
            <span class="glyphicon glyphicon-repeat"></span>
          </button>
          <button type="submit" formaction="/delete" class="btn btn-default btn-sm">
            <span class="glyphicon glyphicon-trash"></span>
          </button>
        </li>
      </form>
    {% endfor %}
  </ul>
    <li class="list-group-item  bg-success text-white d-flex">
      <h2 class="p-0 m-2 flex-grow-1 ">Done</p> 
    </li>
    <ul class="list-group"> 
      {% for item in view_model.done_items %}
        <form method="post" >
          <li class="list-group-item  bg-success text-white d-flex">
            <input type="hidden" id="task_id" name="task_id" value={{item.id}}>
            <button type="submit" formaction="/restore" class="btn btn-default btn-sm">
              <span class="glyphicon glyphicon-repeat"></span>
            </button>
            <h3 class="p-0 m-2 flex-grow-1 ">{{item.name}}</h3> 
            <button type="submit" formaction="/delete" class="btn btn-default btn-sm">
              <span class="glyphicon glyphicon-trash"></span>
            </button>
          </li>
        </form>
      {% endfor %}
    </ul>
    <ul class="list-group"> 
      <li class="list-group-item  bg-success text-white d-flex">
        <h2 class="p-0 m-2 flex-grow-1 ">Done Today</p> 
      </li>
        {% for item in view_model.done_today_items %}
        <form method="post" >
          <li class="list-group-item  bg-success text-white d-flex">
            <input type="hidden" id="task_id" name="task_id" value={{item.id}}>
            <button type="submit" formaction="/restore" class="btn btn-default btn-sm">
              <span class="glyphicon glyphicon-repeat"></span>
            </button>
            <h3 class="p-0 m-2 flex-grow-1 ">{{item.name}}</h3> 
            <button type="submit" formaction="/delete" class="btn btn-default btn-sm">
              <span class="glyphicon glyphicon-trash"></span>
            </button>
          </li>
        </form>
      {% endfor %}
    </ul>
    <ul class="list-group"> 
      <li class="list-group-item  bg-success text-white d-flex">
        <h2 class="p-0 m-2 flex-grow-1 ">Done Before Today</p> 
      </li>
  
      {% for item in view_model.done_before_today_items %}
        <form method="post" >
          <li class="list-group-item  bg-success text-white d-flex">
            <input type="hidden" id="task_id" name="task_id" value={{item.id}}>
            <button type="submit" formaction="/restore" class="btn btn-default btn-sm">
              <span class="glyphicon glyphicon-repeat"></span>
            </button>
            <h2 class="p-0 m-2 flex-grow-1 ">{{item.name}}</h2> 
            <button type="submit" formaction="/delete" class="btn btn-default btn-sm">
              <span class="glyphicon glyphicon-trash"></span>
            </button>
          </li>
        </form>
      {% endfor %}
    </ul>
  {% endblock %}
